data/

*.pt
*.pdf
notebooks/Untitled.ipynb
notebooks/Tensorflow_Object_Detection.ipynb
notebooks/EDA-2.ipynb
notebooks/.ipynb_checkpoints/
notebooks/meta-data-files/
notebooks/yolov5s.pt
__pycache__/

yolov5/
=2.5
data_explorer.py
data_explorer_old.py
junk.py

